@use "../../../styles/variables.scss";

header {
  background-color: variables.$color-principal;
  border-radius: 0px 0px 12px 12px;
  height: 130px;
  position: fixed;  
  display: flexbox; 
  top: 0;
  left: 0;
  right: 0;
  align-items: flex-end;
  justify-content: center; 
  padding-bottom: 5px;
}

h1 {
  margin-top: 0px;
  background-color: variables.$color-principal;
  color: white;
  padding: 16px 16px;
  font-size: 24px;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

h4 {
  margin-top: 18px;
  background-color: variables.$color-principal;
  color: white;
  padding: 16px 16px;
  font-size: 14px;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.extendido{
  height: 200px;
}