<section class="home-container">
  <header class="home-header">
    <!--h1>{{ nombreBar }}</h1-->
    <p>{{ slogan }}</p>
  </header>

  <section class="gallery">
    <img *ngFor="let img of imagenes" [src]="img.url" [alt]="img.alt" />
  </section>

  <section class="info">
    <div class="contact">
      <h2>Contacto</h2>
      <p><strong>Dirección:</strong> {{ contacto.direccion }}</p>
      <p><strong>Teléfono:</strong> {{ contacto.telefono }}</p>
      <p><strong>Email:</strong> {{ contacto.email }}</p>
    </div>

    <div class="payment">
      <h2>Medios de Pago</h2>
      <ul>
        <li *ngFor="let medio of mediosPago">{{ medio }}</li>
      </ul>
    </div>
  </section>
</section>
