#categoria-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px; /* igual que el padding */
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px; /* espacio suficiente */
  color: #555;
  font-size: 1rem;
}

.spinner {
  border: 5px solid #f3f3f3; /* gris claro */
  border-top: 5px solid #3498db; /* azul */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}