#divArticulo {
  width: 285px;
  background-color: #5a5a73;
  padding: 8px;
  border: 8px solid #1e1e2f;
  box-shadow: 0 4px 4px rgba(0,0,0,0.5);
  border-radius: 5px;
  cursor: pointer;
}

#contenidoArticulo {
  display: flex;
  align-items: center;
}

#imagenArticulo img {
  width: 75px;
  height: 75px;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin-right: 12px;
}

#cantidad {
  display: flex; 
  align-items: center; 
  gap: 10px;
  justify-content: flex-end;
  button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    align-items: auto;
  }
  span {
    color: #fff;
  }
}

#abajo {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

#datosArticulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
  flex: 1;
}

#datosArticulo h3 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-align: left;
}

#datosArticulo h5 {
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
}

#precio {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #ffd700;
  text-align: left;
}
