<div id="divArticulo" (click)="navegar(articulo.articuloID)">
  <div id="contenidoArticulo">
    <div id="imagenArticulo">
      <img [src]="articulo.urlImagen" alt="" />
    </div>
    <div id="datosArticulo">
      <h3>{{ articulo.nombre }}</h3>
      <h5>{{articulo.descripcion}}</h5>
      <div id="abajo">
        <h1 id="precio">${{ articulo.precio }}</h1>
        <div id="cantidad">
            <button (click)="cambiar(-1)">-</button>
            <span>{{ n$ | async }}</span>
            <button (click)="cambiar(1)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
